{% block sw_cms_element_custom_product_item_preview %}
    <div class="sw-cms-el-preview-custom-prodcut-item">
        <img class="sw-cms-el-preview-custom-prodcut-item-img"
             :src="'customcmselement/statsw-cms-el-preview-custom-prodcut-item_preview.jpg' | asset">

        <sw-icon class="sw-cms-el-preview-custom-prodcut-item-icon"
                 name="multicolor-action-play"></sw-icon>
    </div>
{% endblock %}