<div class="saufhampton-intro">
    <div class="saufhampton-intro__wrapper">
        <div class="saufhampton-intro__tile">
            <div class="saufhampton-intro__tile__title">
                <h1>SNZR Hoodies & Shirts | Kreisliga & Malle 2023</h1>
                <h2>Der Classic SNZR Kollektion</h2>
            </div>
            <div class="saufhampton-intro__tile__content">
                <p>Mit hochwertigem Transfer-Siebdruck und erstklassiger Qualität. Rüste dich jetzt aus für dein nächstes Kreisliga
                    Abenteuer.</p>
            </div>
            <div class="saufhampton-intro__tile__action">
                <div class="saufhampton-intro__tile__action__price">
                    <span>24.00 EUR</span>
                </div>
                <div class="saufhampton-intro__tile__action__button">
                    <a class="btn btn-custom btn-buy" href="/originals">Zur Kollektion</a>
                </div>
            </div>
        </div>

        <div class="saufhampton-intro__image">
            <img src="http://localhost/media/30/6d/ff/1673457732/Mein Projekt.png" alt="">
            <div class="saufhampton-intro__image__conversion">
                <p class="saufhampton-intro__image__conversion__title">SNZR Hoodie</p>
                <p>
                    <span>Größen:</span>
                    <span>S | M | L | XL</span>
                </p>
                <p>
                    <span>Farben:</span>
                    <span>Weiß | Schwarz</span>
                </p>
                <a class="btn btn-custom btn-buy" href="/originals">Zum Hoodie</a>
            </div>
        </div>
    </div>

</div>